{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block head %}
    <!-- Bu tag sayesinde parent template'in bu block içindeki değerlerini render ediyoruz. -->
    {{ super() }}
    <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}

{% block content %}
<h2> Lütfen incelemek istediğiniz veri setini seçiniz:</h2>
<form method = "post" enctype="multipart/form-data">  
    <input type="file" name="file" />  
    <input type = "submit" value="Upload">  
</form>  
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- <script src="/static/js/app.js" type="text/javascript"></script> -->
{% endblock %}