body
{
    background-color: rgb(157, 170, 231);
}

#main-content
{
    width: 100%;
}

/* .carousel-item
{
    text-align: center;
} */

/* .carousel-control-prev-icon, .carousel-control-prev-icon
{
    color: blue;
} */