<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"> -->
    <link rel="shortcut icon" href="">
    <title>Base Flask Page</title>
{% assets "css_asset" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
    
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="basic-histogram"></div>
                    Most basic histogram in d3.js <br>
                    A histogram displays the distribution of a numeric variable. So you basically need only one column in your input file.
                </div>
                <div class="carousel-item">
                    <div id="basic-barplot"></div>
                    Most basic barplot in d3.js<br>
                    First step consists to make a numeric (Y axis) and a categoric scale (X axis).
                </div>
                <div class="carousel-item">
                    <div id="basic-scatter"></div>
                    Basic scatterplot in d3.js<br>
                    It has 2 numeric variables called GrLivArea and SalePrice.
                </div>
                <div class="carousel-item">
                    <div id="basic-line"></div>
                    Most basic line chart in d3.js<br>
                    Data show the evolution of bitcoin price.
                </div>
                <div class="carousel-item">
                    <svg id="basic-bubble" width="440" height="300"></svg>
                    <br>
                    Basic bubble map in d3.js<br>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
{% assets "js_asset" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</html>